body
{
	margin: 0;
}
header
{
    margin: 0;
    position: fixed;
    background: black;
    width: 99vw;
}	
.logoOnhead
{
	margin: 0;
	height: 60px;
    width: 275px;
}
nav{
	float: right;
	height: 28px;
	padding-top: 18px;
}
nav a 	
{
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover 
{
  background-color: gray;
  border-bottom: 3px solid skyblue;
}
.vikasOnhead
{
    margin: -41px;
    width: 93px;
    height: 71px;
}
.video
{
	padding-top: 29px;
	width: 100%;
	background-color: black;
}
.me{
	background-image: url("D:/project instant system/portfolio/images/me3.gif");
	margin-top: -50px;
	background-size: cover;
	height: 50vh;
	background-repeat: no-repeat;
	font-size: 17px;
	color:white;
	padding: 12vw;
}
.me img:hover {
box-shadow: 0 0 15px 12px gray;
}
.introImage1{
	float: right;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding:5px;
  width: 250px;
}
.ProFile {
	background-image: url("D:/project instant system/portfolio/images/me2.gif");
	margin: 0;
	font-size: 17px;
	background-size: cover;
	color:white;
	padding: 150px;
}
.ProFile img:hover {
box-shadow: 0 0 15px 12px rgba(0, 140, 186, 0.5);
}
.introImage2{
	float: right;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding:5px;
  width: 250px;
}
.Skill {
	background-image: url("D:/project instant system/portfolio/images/skills.png");
    width: 100%;
    height: calc(100vh);
    margin-top: -24px;
	background-size: cover;
}
.skillPara
{
	margin-top: -65px;
	font-family: "Andalus";
	text-align: center;
	font-size: 40px;
}
.WorkAndeducation {
	margin: 0;
	background-image: url("D:/project instant system/portfolio/images/WorkAndeducation.png");
    width: 205vh;
    height: 80vh;
	color:black;
	background-size: cover;
	padding-top: 140px;
}

.eductionListPara
{
	margin-top: -65px;
	font-family: "Andalus";
	text-align: center;
	font-size: 40px;
}
.educationSection{
	background-image: url(../images/pic_skills.jpg);
    background-position-x: center;
    background-position-y: 10px;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}
.educationSectionbase
{
    width: 85vw;
    margin: 0 auto;
    padding: 0 32px;
}
.educationSection .secondDiv
{
    float: left;
    font-family: "Andalus";
    font-size: 26px;
    padding: 1px;
}
.Colleague {	
	background-image: url("D:/project instant system/portfolio/images/Colleagues.jpg");
	margin: 0;
	width: 100%;
	height: 100vh;
	font-size: 17px;
	color:white;
}
.team_paragraph{
	font-family: Comic Sans MS;
	margin: 0; 
	font-size:47px;
	color: black;
	text-align: center;
}
.team_image
{
    display: inline;
    width: 276px;
    padding: 12px;
    margin: 22px;
    margin-left: 111px;
}
.image {	
	width: 10%;
}
.candcplus
{
    padding-top: 1vw;
    padding-left: 6vw;
    font-size: 24px;
   	font-family: "Times New Roman";
}
.java
{
    padding-top: 2vw;
    padding-left: 18vw;
    font-size: 24px;
   	font-family: "Times New Roman";
}
.htmlandcss
{
    padding-top: 1vw;
    padding-left: 25vw;
    font-size: 24px;
   	font-family: "Times New Roman";
}
.javascript
{
    padding-top: 0vw;
    padding-left: 39vw;
    font-size: 24px;
   	font-family: "Times New Roman";
}
.nodejs
{
    padding-top: 7vw;
    padding-left: 53vw;
    font-size: 24px;
   	font-family: "Times New Roman";
}
.rubyonrails
{
    padding-top: 0vw;
    padding-left: 62vw;
    font-size: 24px;
   	font-family: "Times New Roman";
}
.comingsoon
{
    padding-top: 3vw;
    padding-left: 74vw;
    font-size: 24px;
   	font-family: "Times New Roman";
}
.Contact{
	background-image: url("D:/project instant system/portfolio/images/About.jpg");
	background-size: cover;
	width: 100%;
	height: 100vh;
	font-family: "Times New Roman";
	font-size: 15px;
}
.workandeducationtitle
{
    padding-top: 0vw;
    padding-left: 46vw;
    margin-top: -45px;
}
.aboutform
{
    margin: 0px;
    padding-left: 80vh;
    padding-top: 12vh;
}
input[type=text] {
	background-color: rgb(220,220,220);
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	font-family:"Tempus Sans ITC";
	border-bottom: 2px solid black;
}
textarea {
	background-color: rgb(220,220,220);
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	border-radius: 4px;
	border-bottom: 2px solid black;
	font-size: 16px;
	resize: none;
	font-family:"Tempus Sans ITC";
}
button
{
	margin: 0;
	width: 15vh;
    height: 10vh;
	border-radius: 50%;
	background-color: rgb(220,220,220);
	border: none;

}
button:hover
{
	background-color: rgb(113,113,113);
	color: white;
}
.tableheading
{
	font-family:"Tempus Sans ITC";
	font-size: 30px;
}
footer
{
    margin: 0;
    background-image: url("D:/project instant system/portfolio/images/thankyou.gif");
    width: 100%;
    background-size: cover;
    height: 92vh;
    font-family:"Tempus Sans ITC";
    font-size: 50px;
}